.Person{
    display:inline-block;
    /* background-color:grey; */
    width:400px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin:10px;
    border:2px solid grey;
    border-radius:8px; 
    /* color:white; */
    
  }
  .AgeInput{
    border-radius: 8px;
    width: 63px;
    height: 26px;
    text-align: center;
  }